* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  z-index: 0;
}
body{
  font-family: sans-serif;
  padding:0;
  margin:0;
}
input{
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
}
nav.top{
  position: sticky;
  top:0px;
  background-color:blue;
  line-height:48px;
  z-index: 1;
}
table{
  border-collapse: collapse;
}
th{
  text-align: left;
}
th,td{
  white-space: nowrap;
  border:solid 1px #ccc;
  padding:0;
}
thead{
  position: sticky;
  top:48px;
  background-color:#ccc;
  z-index: 1;
}
th{
  border: none;
  padding:1px;
}
